---
// src/pages/index.astro

import { fetchData } from "../api/api_prueba";

let data;
let error;

try {
  data = await fetchData();
} catch (e) {
  error = e;
}
---

<html>
  <head>
    <title>Mi Proyecto Astro</title>
  </head>
  <body>
    <h1>Datos desde una API</h1>
    {error ? (
      <p>Error al cargar los datos: {error.message}</p>
    ) : (
      <pre>{JSON.stringify(data, null, 2)}</pre>
    )}
  </body>
</html>
