---
import Barra from "../components/barra.astro";
import { Image } from "astro:assets";
import checo from "../../src/images/Seasons/checo.jpg";
import Lista from "../components/componenteseason/lista.astro";


---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>F1 unofficial page</title>
</head>
<Barra />

<div>
    <Image src={checo} alt="checo pere" height={1000}/>
    <p style="position: absolute; top: 40%; left: 40%; color: rgb(255, 255, 255); font-size: 75px;">
      Season
    </p>
</div>

<h1 style="position: relative; left: 38%;">Tabla de Conductores</h1>
<body>
    <Lista number="1" name="Max Verstappen"  Constructor="Red bull" points="237" ></Lista>
    <Lista number="2" name="lando Norris"  Constructor="Mclaren" points="156" ></Lista>
    <Lista number="3" name="Chares leclerc"  Constructor="Ferrari" points="150" ></Lista>
    <Lista number="4" name="Carlos Sainz"  Constructor="ferrari" points="135" ></Lista>
    <Lista number="5" name="Sergio Perez"  Constructor="Red bull" points="118" ></Lista>
    <Lista number="6" name="Oscar Piastri"  Constructor="Mclaren" points="112" ></Lista>
    <Lista number="7" name="George Russell"  Constructor="Mercedes" points="111" ></Lista>
    <Lista number="8" name="Lewis Hamilton"  Constructor="Mercedes" points="85" ></Lista>
    <Lista number="9" name="Fernando Alonso"  Constructor="Aston Martin" points="41" ></Lista>
    <Lista number="10" name="Yuki Tsunoda"  Constructor="RB" points="19" ></Lista>
    <Lista number="11" name="Lance Stroll"  Constructor="Aston Martin" points="17" ></Lista>
    <Lista number="12" name="Nico Hulenberg"  Constructor="Haas" points="14" ></Lista>
    <Lista number="13" name="Daniel Ricciardo"  Constructor="RB" points="11" ></Lista>
    <Lista number="14" name="Oliver Bearman"  Constructor="Ferrari" points="6" ></Lista>
    <Lista number="15" name="Pierre Gasly"  Constructor="Alpine" points="6" ></Lista>
    <Lista number="16" name="Kevin Magnussen"  Constructor="Haas" points="5" ></Lista>
    <Lista number="17" name="Esteba Ocon"  Constructor="Apline" points="3" ></Lista>
    <Lista number="18" name="Alexander Albon"  Constructor="Williams" points="2" ></Lista>
    <Lista number="19" name="Zhou Guanyu"  Constructor="Kick Sauber" points="0" ></Lista>
    <Lista number="20" name="Valtteri Bottas"  Constructor="Kick Sauber" points="0" ></Lista>
    <Lista number="21" name="Logan Sargeant"  Constructor="Williams" points="0" ></Lista>
</body>






<style>
  div p{
      max-width: 100%;
      height: auto;
      font-size: 100px;
  }
  img {
      max-width: 100%;
      height: auto;
      filter: brightness(50%);
  }

  </style>