---
import Barra from "../components/barra.astro";
import { Image } from "astro:assets";
import Team from "../../src/images/Teams/teams2.jpg";
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>F1 unofficial page</title>
</head>
<Barra />
<div>
    <div style="position: relative;">
        <Image src={Team} alt="teams" height={1000}  />
        <p style="position: absolute; top: 290px; left: 605px; color: rgb(255, 255, 255); font-size: 75px;">
          Teams
        </p>
    </div>
    
</div>


<style>
    div p{
        font: Helvetica;
        font-size: 100px;
    }
    img {
        max-width: 100%;
        height: auto;
        filter: brightness(50%);
    }
body{
    background-color: red;
    
}

</style>