---
import { Image } from 'astro:assets';
import logo from "../../src/images/logo.png"
---
<body>
    <nav class="navbar">
        <div class="burger-menu" id="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links" id="nav-links">
            <Image src={logo} alt="f1 logo" height={60} />
            <li><a href="/">Home </a></li>
            <li><a href="/seasons">Season</a></li>
            <li><a href="/teams">Constructors </a></li>
            <li><a href="/drivers">Drivers</a></li>
            <li><a href="/calendar">Calendario</a></li>
            <li><a href="/about">about us</a></li>
        </ul>
    </nav>
    <script >document.addEventListener('DOMContentLoaded', () => {
        const burgerMenu = document.getElementById('burger-menu');
        const navLinks = document.getElementById('nav-links');
        
        burgerMenu.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    });
    </script>
</body>
</html>

<style>
    body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    list-style: none;
    background-color: red;
    text-align: start;
}
.navbar ul Image{
    position: relative;
    top: 20%;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-menu .line {
    width: 100%;
    height: 4px;
    background-color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    position: relative;
}

.nav-links a {
    display: block;
    padding: 20px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: start;
}

.nav-links a:hover{
    background: #222;
    transition: .9s;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
    
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #ff0000;
        text-align: center;
    }


    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
}

</style>