<div class="semi-circle"></div>

<style>
.semi-circle{
    background-color: #331f1f;
    border: 13px solid #331f1f;
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    width: 925px;
    position: relative;
    top: -457px;
    left: 273px;
}