<div class="semi-circle"></div>

<style>
.semi-circle{
    background-color: #630303;
    border: 13px solid #630303;
    border-radius: 0px;
    height: 50px;
    width: 925px;
    position: relative;
    top: -457px;
    left: 273px;
}
    
        
</style>